/* 消除卡片边框阴影 */
.ant-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px !important;
}

/* 封面图片自适应 */
.blog-cover img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
