.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.logo {
  margin: .2rem 0 0 0;
}
.nav-links a {
  color: var(--color-text);
  margin: 0 2rem 0 0;
  text-decoration: none;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.8;
}

.content-wrapper {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.app-footer {
  background: var(--color-nav-bg);
  color: var(--color-text);
  text-align: center;
  padding: .3rem;
}
